.informationWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: hsla(210, 11%, 15%, 0.159);
  gap: 5px;

  & h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }
}
